# Coursera_capstone_project
## Week 3 part1

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
# read the webpage from the wiki
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
source = requests.get(url).text
soup = BeautifulSoup(source, 'lxml')

In [3]:
# creat a new Dataframe
column_names = ['Postalcode','Borough','Neighborhood']
df = pd.DataFrame(columns = column_names)
df.head()

Empty DataFrame
Columns: [Postalcode, Borough, Neighborhood]
Index: []

In [4]:
table_contents=[]
table=soup.find('table')
for row in table.findAll('td'):
    cell = {}
    if row.span.text=='Not assigned':
        pass
    else:
        cell['PostalCode'] = row.p.text[:3]
        cell['Borough'] = (row.span.text).split('(')[0]
        cell['Neighborhood'] = (((((row.span.text).split('(')[1]).strip(')')).replace(' /',',')).replace(')',' ')).strip(' ')
        table_contents.append(cell)

# print(table_contents)
df=pd.DataFrame(table_contents)
df['Borough']=df['Borough'].replace({'Downtown TorontoStn A PO Boxes25 The Esplanade':'Downtown Toronto Stn A',
                                             'East TorontoBusiness reply mail Processing Centre969 Eastern':'East Toronto Business',
                                             'EtobicokeNorthwest':'Etobicoke Northwest','East YorkEast Toronto':'East York/East Toronto',
                                             'MississaugaCanada Post Gateway Processing Centre':'Mississauga'})

In [5]:
df.head()

  PostalCode           Borough                      Neighborhood
0        M3A        North York                         Parkwoods
1        M4A        North York                  Victoria Village
2        M5A  Downtown Toronto         Regent Park, Harbourfront
3        M6A        North York  Lawrence Manor, Lawrence Heights
4        M7A      Queen's Park     Ontario Provincial Government

In [6]:
# Check if dataframe still has "Borough" with 'Not assigned' values
display(df[df.Borough.str.contains("Not assigned") == True])

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

In [7]:
## Check if dataframe is combined the rows into one row (and is seperated with comma) which PostalCode and Borough as same value
display(df[df.PostalCode=='M5A'])
display(df.head(15))

NameError: name 'df3' is not defined

In [ ]:
df.shape

In [ ]:
#Save data as'Capstone_part1.csv'
df.to_csv('Capstone_part1.csv')
print('Successfully Saved!')